body {
  background-color: #fff1e5 !important;
  color: #342309;
  font-size: xx-large;
  margin: 0;
  font-family: 'MetricWeb,sans-serif';
}
.main {
  align-content: center;
  display: grid;
  height: 100%;
  justify-content: center;
  margin-top: 10%;
}

h1 {
  font-size: 2.2rem !important;
  text-align: center;
}

h3 {
  font-size: 1.8rem !important;
  text-align: center;
}

h5 {
  text-align: center;
}

li {
  font-size: 1.6rem !important;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
  
}

p.maintext {
  margin: 30px;
}

p.year {
  margin: auto;

}

p.job {
  font-size: 1.2rem;
  margin: 30px auto;
  text-align: justify;
  width: 60%;
}

nav {
  background-color: #fff1e5 !important;
}

nav ul a {
color: black !important;
}

.hide-on-med-and-down {
    display: flex !important;
    justify-content: center;
}

.round {
  width: 20vh;
  height: 20vh;
  display: grid;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.institute {
  margin-bottom: 15%;
}

@media only screen and (max-width: 425px) {
 nav {
  bottom: 0;
 }
}

.about {
  display: flex;
  justify-content: center;
  
}
